@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
.inline-block {
  display: inline-block !important; }

.padding-zero {
  padding: 0 !important; }

.textarea-noresize {
  resize: none; }

.img-fluid {
  width: 100%; }

.relative {
  position: relative; }

.font-16 {
  font-size: 16px; }

.font-18 {
  font-size: 18px; }

.font-20 {
  font-size: 20px; }

.tworem-margin-top {
  margin-top: 2rem; }

.fourrem-margin-top {
  margin-top: 4rem; }

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.section-title {
  font-weight: 700;
  color: #ff8100; }
  .section-title i {
    margin-right: 5px;
    vertical-align: bottom; }

.input-icon {
  position: relative; }
  .input-icon i {
    position: absolute;
    color: #797979; }
  .input-icon i {
    top: 20%;
    left: 10px; }
  .input-icon label + i {
    top: 50%;
    left: 10px; }
  .input-icon input {
    padding-left: 40px; }

.fixed-button-container {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 114px;
  height: 0px;
  z-index: 999; }
  .fixed-button-container button {
    text-align: center;
    height: 50px;
    width: 180px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.homepage.navbar {
  margin-bottom: 0; }

.special-nav {
  margin: 0px 15px; }

.navbar-btns > li {
  line-height: 80px;
  margin-left: 10px; }

@media (max-width: 767px) {
  .navbar-btns > li {
    line-height: 50px; } }

.navbar-collapse {
  width: 100%;
  margin: 0; }

.wire-btn {
  background: transparent;
  border: 1px solid #ff8100;
  color: #ff8100; }

.rounded-btn {
  padding: 6px 30px;
  border-radius: 25px; }

.profile-dropdown .profile-image {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 0;
  border: 2px solid #b9b9b9;
  border-radius: 50%; }

.flexslider {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px;
  overflow: hidden; }

.search-container {
  background-color: #f1f1f1;
  padding: 4px 0; }
  .search-container .home-btn {
    width: 50px;
    height: 50px;
    border-radius: 3px 0 0 3px;
    padding: 0; }
    .search-container .home-btn i {
      vertical-align: bottom;
      line-height: 50px;
      color: #ff8100; }
  .search-container .search-box {
    height: 50px;
    width: calc(100% - 125px);
    border-radius: 0;
    border-right: 0;
    border-left: 0; }
  .search-container .search-btn {
    width: 75px;
    height: 50px;
    border-radius: 0 3px 3px 0; }
  .search-container .filter-label {
    line-height: 50px;
    margin-bottom: 0;
    margin-right: 8px; }
  .search-container .filter-select {
    height: 50px;
    width: calc(100% - 81px); }
  .search-container .left-sec,
  .search-container .right-sec {
    padding: 4px 15px; }
  .search-container .location-button {
    height: 50px;
    padding: 0;
    line-height: 50px;
    border-radius: 3px 0 0 3px;
    width: 50px; }
    .search-container .location-button i {
      vertical-align: bottom;
      line-height: 50px;
      color: #717171; }
  .search-container .location-name {
    width: calc(100% - 50px);
    line-height: 50px;
    padding: 0 4px;
    text-transform: uppercase;
    border: 1px solid #ccc;
    height: 50px;
    font-weight: 700;
    color: #4CAF50;
    background-color: white;
    border-left: 0;
    border-radius: 0 3px 3px 0; }

.category-section {
  padding: 15px;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: auto; }

.category-item {
  display: block;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
  padding: 30px 0 10px 0;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  color: black;
  -webkit-transition: all 0.2s cubic-bezier(0.41, 1.32, 0.57, 1.77);
  transition: all 0.2s cubic-bezier(0.41, 1.32, 0.57, 1.77); }
  .category-item img {
    display: block;
    height: 70px;
    width: 70px;
    margin: 30px auto; }
  .category-item .title {
    font-weight: 600;
    margin-bottom: 20px;
    padding: 0 5px; }
  .category-item:hover {
    text-decoration: none;
    color: black;
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }

.side-add .flexslider .slides img {
  height: 755px; }

.login-sigup-modal .nav-pills > li > a {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #afafaf;
  border-radius: 0;
  border-bottom: 3px solid transparent; }

.login-sigup-modal .nav-pills > li.active > a {
  color: #ff8100;
  background: transparent;
  border-bottom: 3px solid #ff8100; }

.login-sigup-modal .tab-content {
  padding: 15px 25px 25px 25px; }

.login-sigup-modal .modal-header {
  border: 0; }

.login-sigup-modal .forgot-password-link {
  line-height: 40px; }

.login-sigup-modal .form-control {
  height: 40px; }

@media (min-width: 768px) {
  .login-sigup-modal .modal-dialog,
  .forgot-password .modal-dialog,
  .select-location .modal-dialog {
    width: 450px; } }

.forgot-password .form-control,
.select-location .form-control {
  height: 40px; }

.select-location .location-section {
  padding: 25px; }

.line-behind-text {
  position: relative;
  z-index: 1;
  text-align: center; }
  .line-behind-text:before {
    border-top: 1px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1; }
  .line-behind-text span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 15px; }

.description {
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -moz-line-clamp: 3;
  -ms-line-clamp: 3;
  -o-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  height: 60px;
  color: #333; }

.multi-button-parent [class*="col"]:first-child {
  padding-right: 7.5px; }

.multi-button-parent [class*="col"] + [class*="col"] {
  padding-left: 7.5px; }

.merchant-list,
.category-list {
  max-height: 700px;
  min-height: 70px;
  overflow: auto; }

.merchant-item {
  border: 1px solid #ccC;
  border-radius: 3px;
  margin-bottom: 15px; }
  .merchant-item .img-container {
    height: 177px;
    width: 200px;
    float: left;
    background-color: #8c8c8c; }
    .merchant-item .img-container img {
      height: 100%;
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .merchant-item .right-sec {
    width: calc(100% - 200px);
    padding: 0 15px 15px 15px;
    float: left; }

@media (max-width: 765px) {
  .merchant-item .img-container {
    height: 177px;
    width: 100%;
    background-color: #8c8c8c; }
    .merchant-item .img-container img {
      height: 100%;
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
  .merchant-item .right-sec {
    width: 100%;
    padding: 0 15px 15px 15px; } }

.sort-btn button {
  border: 2px solid transparent;
  color: #8c8c8c; }

.sort-btn button.active {
  border: 2px solid #ff8100;
  color: #ff8100; }

.search-by {
  border: 1px solid transparent; }

.merchant-profile-top {
  border: 1px solid #d9d9d9;
  padding: 0 15px 15px 15px;
  border-radius: 3px;
  margin: 2rem 0; }
  .merchant-profile-top .details {
    line-height: 24px;
    margin-bottom: 5px; }
    .merchant-profile-top .details > i {
      margin-right: 10px;
      color: #8c8c8c; }
    .merchant-profile-top .details i {
      vertical-align: bottom; }

.rating-stars i {
  color: #cecece;
  font-size: 20px; }

.rating-stars i.yellow {
  color: #ffc107; }

.review {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 2rem;
  min-height: 200px;
  max-height: 700px;
  overflow-y: auto; }
  .review .item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px; }
    .review .item .left-sec {
      width: 55px; }
      .review .item .left-sec img {
        -o-object-fit: cover;
        object-fit: cover;
        width: 55px;
        height: 55px;
        border-radius: 50%; }
    .review .item .right-sec {
      width: calc(100% - 55px);
      padding-left: 15px; }
    .review .item .top-part {
      line-height: 30px; }
    .review .item .rating i {
      vertical-align: sub;
      font-size: 20px;
      color: #ffc107; }

.image-grid {
  height: 500px;
  overflow-y: auto; }
  .image-grid a {
    margin-bottom: 20px; }

.write-review {
  padding: 15px;
  border: 1px solid #cccccc;
  margin-top: 2rem;
  /****** Style Star Rating Widget *****/
  /***** CSS Magic to Highlight Stars on Hover *****/
  /* hover previous stars in list */ }
  .write-review .simple-text {
    float: left;
    padding-top: 8px;
    margin-right: 8px; }
  .write-review fieldset,
  .write-review label {
    margin: 0;
    padding: 0; }
  .write-review .submit-btn {
    width: 160px; }
  .write-review .rating-input {
    border: none;
    float: left; }
  .write-review .rating-input > input {
    display: none; }
  .write-review .rating-input > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: "Material Icons";
    display: inline-block;
    content: "\E838"; }
  .write-review .rating-input > .half:before {
    content: "\E839";
    font-family: "Material Icons";
    position: absolute; }
  .write-review .rating-input > label {
    color: #ddd;
    float: right; }
  .write-review .rating-input > input:checked ~ label,
  .write-review .rating-input:not(:checked) > label:hover,
  .write-review .rating-input:not(:checked) > label:hover ~ label {
    color: #FFD700; }
  .write-review .rating-input > input:checked + label:hover,
  .write-review .rating-input > input:checked ~ label:hover,
  .write-review .rating-input > label:hover ~ input:checked ~ label,
  .write-review .rating-input > input:checked ~ label:hover ~ label {
    color: #FFED85; }

footer {
  height: 100px;
  margin-top: 4rem;
  background-color: #1f1f1f; }
